body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list-enter {
  opacity: 0.01;
}

.list-enter.list-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.list-leave {
  opacity: 1;
}

.list-leave.list-leave-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}

.ant-notification, .ant-message {
  top: 100px !important;
}
.ant-tooltip-inner {
  word-break: break-word;
}

.ant-card {
  background: #fcfcfc;
  border: 0;
}
.ant-card-head {
  background: #f2f0f0;
  border: 0;
}
